* {
    background-color: blueviolet;
}

section > img {
    height: 300px;
    width: 200px;
    border: 5px solid black;
}

ol + img {
    height: 300px;
    width: 300px;
    border: 5px solid black;
}